* {
    margin: 0px;
    padding: 0px;
}
div {
    display: block;
}
body {
    background-color: #d694b4;
    text-align: center;
    justify-content: center;
    margin: 280px 570px;
}
button {
    border: 10px;
    border-radius: 5px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f52c8d;
    color: black;
}